#view {
    border-width: 0;
    background-color: #DED7DB;
    /*  background-image: url('../art/stipple.png') repeat; */
}


#channel-selector {
    color: #d7d0d4;      /* light aubergine */
    border-width: 0;
}

#symbolic-icon:hover,
#channel-selector:hover {
    color: #fff;        /* white */
}

#featured-tile,
#category-tile {
    border-width: 0;
    border-radius: 5;
}

#placeholder-banner-ad {
    color: #FF3100;
}

GtkEntry {
    border-radius: 7;
}

