#view {
    background-color: #DED7DB;
    border-radius: 0;
    border-width: 0;
}

#backforward {
    border-width: 0;
    border-radius: 0;
}

#section-selector {
    color: #d7d0d4;      /* light aubergine */
    border-width: 0;
}

#symbolic-icon:hover,
#section-selector:hover {
    color: #fff;        /* white */
}

#label-tile,
#category-tile,
#featured-tile {
    border-width: 0;
    border-radius: 0;
}

#placeholder {
    color: #FF00B3;
}

#featured-star {
    color: #FFC51D;
    border-color: #F89516;
}

GtkEntry {
    border-radius: 8;
}

#exhibit-button{
    border-radius: 12;
    color: #fff;
}
