#featured-star {
    color: #FFC51D;
    border-color: #F89516;
}

GtkViewport {
    background-color: #DED7DB; /* light aubergine */
    border-width: 0;
    padding: 0;
}

GtkTreeView {
    background-color: #F4F1F3; /* super-light aubergine */
}
