@define-color light-aubergine #DED7DB;
@define-color super-light-aubergine #F4F1F3;

#app-view {
    background-color: @super-light-aubergine;
}

#category-view {
    background-color: @light-aubergine;
}

#featured-star {
    border-color: #F89516;  /* yellow */
    color: #FFC51D;         /* orange */
}

.subtle,
#subtle-label {
    -GtkWidget-link-color: shade (@super-light-aubergine, 0.4);
    -GtkWidget-visited-link-color: shade (@super-light-aubergine, 0.5);
    color: shade (@super-light-aubergine, 0.6); /* non-link text color */
}

GtkViewport {
    background-color: @super-light-aubergine;
    border-width: 0;
    padding: 0;
}

.super-light-aubergine-bg {
    background-color: @super-light-aubergine;
}
