Source: software-store
Section: gnome
Priority: optional
Maintainer: Michael Vogt <mvo@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50),
               gettext,
               intltool,
               python,
               python-central,
               python-distutils-extra,
	       python-setuptools
Standards-Version: 3.8.3
XS-Python-Version: current
Vcs-Bzr: http://code.launchpad.net/~software-store-developers/software-store/trunk

Package: software-store
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         app-install-data (>= 0.4.0),
         gnome-icon-theme,
         python-apt (>= 0.7.13),
         python-dbus,
         python-gtk2,
	 python-webkit,
	 aptdaemon
Recommends: lsb-release
XB-Python-Version: ${python:Versions}
Description: Software Installer
 A pretty software installer that provides a modern and easy to 
 use interface with fast searching.
