#!/usr/bin/make -f
share:=usr/share/software-store
%:
	DH_PYCENTAL=include-links dh --with=python-central $@

# Install the modules in a private directory, as our applications are the
# only ones using them.
override_dh_auto_install:
	dh_auto_install -- --install-lib /usr/share/software-store
	rm -r debian/software-store/usr/share/software-store/*.egg-info
	# Move the scripts to $(SHARE) and relink them again later.
	mv debian/software-store/usr/*bin/* debian/software-store/$(share)
	rmdir debian/software-store/usr/*bin
	dh_link $(share)/software-store usr/bin/software-store \
	        $(share)/update-software-store usr/sbin/update-software-store
	# Remove empty directories.
	find debian/software-store/usr -type d -empty -delete
