#!/usr/bin/make -f
share:=usr/share/software-center

%:
	dh --with=python-central $@

# Install the modules in a private directory, as our applications are the
# only ones using them.
override_dh_auto_install:
	dh_auto_install -- --install-lib /usr/share/software-center
	rm -r debian/tmp/usr/share/software-center/*.egg-info
	# Move the scripts to $(SHARE) and relink them again later.
	mv debian/tmp/usr/*bin/* debian/tmp/$(share)
	rmdir debian/tmp/usr/*bin
	dh_link $(share)/software-center usr/bin/software-center \
	        $(share)/update-software-center usr/sbin/update-software-center
	# Remove empty directories.
	find debian/tmp/usr -type d -empty -delete
	dh_install --fail-missing

.PHONY: override_dh_auto_install
