#!/usr/bin/make -f
share:=usr/share/software-center

%:
	dh --with=python-central $@

# Install the modules in a private directory, as our applications are the
# only ones using them.
override_dh_auto_install:
	dh_auto_install -- --install-lib /usr/share/software-center
	rm -r debian/software-center/usr/share/software-center/*.egg-info
	# Move the scripts to $(SHARE) and relink them again later.
	mv debian/software-center/usr/*bin/* debian/software-center/$(share)
	rmdir debian/software-center/usr/*bin
	dh_link $(share)/software-center usr/bin/software-center \
	        $(share)/update-software-center usr/sbin/update-software-center

	# Drop Ubuntu stuff if not on Ubuntu
	set -e; if ! dpkg-vendor --derives-from Ubuntu; then \
		cd debian/software-center; sed -i 's/Ubuntu/Debian/g' \
			usr/share/software-center/ui/SoftwareCenter.ui \
			usr/share/applications/ubuntu-software-center.desktop; \
		cd usr/share/applications; \
		mv ubuntu-software-center.desktop software-center.desktop; \
	fi;
	# Remove empty directories.
	find debian/software-center/usr -type d -empty -delete

.PHONY: override_dh_auto_install
