<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
 <title></title>

 <script type="text/javascript">
  function changeTitle(title) { document.title = title; }
  function fadeIn(objId,opacity) {
  if (document.getElementById) {
    obj = document.getElementById(objId);
    if (opacity <= 100) {
      setOpacity(obj, opacity);
      opacity += 10;
      window.setTimeout("fadeIn('"+objId+"',"+opacity+")", 100);
    }
  }
  }
  function setOpacity(obj, opacity) {
  opacity = (opacity == 100)?99.999:opacity;
  obj.style.opacity = opacity/100;
  }
  function initImage() {
  imageId = 'screenshot_thumbnail';
  image = document.getElementById(imageId);
  setOpacity(image, 0);
  image.style.visibility = 'visible';
  fadeIn(imageId,0);
  }
  window.onload = function() {initImage()}
 </script>

 <style type="text/css">
 #appname {font-size:120%;}
 #description {font-size:80%}
 #icon {float:left; width:64px; height:64px; padding:10px}
 #screenshot_thumbnail_loading {float:right; padding:10px; width:160px; height:120px; background:#fff url('$iconpath/img/loading.gif') 50% 50% no-repeat;}
 #screenshot_thumbnail {visibility:hidden}
 #text {float:right; width:80%}
 </style>

 </head>

<body>
 <img id="icon" src="file:$iconpath" alt="Application Icon" width="$width" height="$height"/>
 <div id="text">
 <p id="appname">$appname</p>
 <div id='screenshot_thumbnail_loading'>
 <img id="screenshot_thumbnail" src="http://screenshots.debian.net/thumbnail/$pkgname" alt="Application Screenshot"/>
 </div>
 <div id="description">$description</p>

 <input type="button" name="button_$action_button_value" 
        value="$action_button_label"
      onclick='changeTitle("call:${action_button_value}")'
 />

 <input type="button" name="button_homepage" value="Homepage"
      onclick='changeTitle("call:on_button_homepage_clicked")'
 />
 </div>
</body>
</html>
