<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
 <title></title>
 <script type="text/javascript">
  function changeTitle(title) { 
    document.title = title; 
  }
  function addCategory(name, img) {
    oT = document.getElementsByTagName("table")[0];
    newTr = document.getElementsByTagName("tr")[0];
    newTd = document.createElement("td");
    newTd.setAttribute("tabindex", 0)
    newTd.className = "category_td";
    newTextAroundImg = document.createElement("p");
    newImg = document.createElement("img");
    newImg.src = img;
    newTextAroundImg.appendChild(newImg)
    newText = document.createElement("p");
    newText.align = "center";
    click_cb = 'changeTitle("call:on_category_clicked:' + name + '");';
    newTd.setAttribute('onclick', click_cb);
    key_cb = 'if (event.which == 13) { changeTitle("call:on_category_clicked:' + name + '"); };'
    newTd.setAttribute('onkeydown', key_cb);
    newText.appendChild(document.createTextNode(name))
    newTd.appendChild(newTextAroundImg);
    newTd.appendChild(newText);
    newTr.appendChild(newTd);
    oT.appendChild(newTr);
  }
 </script>
 <style type="text/css">
 body { background-color:#b6bdc4; font-size:100%; padding:2px 10px; color:#000 }
 #header {font-size:100%; padding:10px; background-color:#7D91AA; border:2px solid #3F4B5A}
 /* debug border */
 /* .category_td {border-width:1px;border-style:solid;} */
 .category_td {float:left; padding:8px; margin:8px; min-width:15%; }
 .category_td:hover { cursor: pointer; opacity:0.65; }
 .category_td p { font-size:90%; text-align:center; }
 </style>
 </head>

<body>
  <p id="header">Departments</p>
  <table>
    <tr></tr>
  </table>
</body>
</html>
